#aboutMe{
    font-size: 3rem;
    text-align:center;
    padding-bottom: 100px;
}
.main{
    position:relative;
}
.container{
    /* position:absolute; */
    flex:1;
    display:flex;
    flex-direction: column;
 
}
.desc{
    font-size: x-large;
    letter-spacing: 1px;
    width:50vw;
   padding-left:5rem;
   line-height: 1.5;
   font-family: Arial, Helvetica, sans-serif;
   color:rgb(193, 209, 210);
}
.container1 button{
    /* margin:5px; */
    background: transparent;
    color:antiquewhite;
   
    /* background-color: antiquewhite; */
    width:7rem;
    height:3rem;
    font-size:15px;
    font-weight:600;
    letter-spacing: 1px;
    border-radius: 20px;

    margin: 0 20px 15px 0;
    padding: 5px 10px;
    border: 1px solid #f1b631;
    /* display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    transition: background-color .3s ease-in-out; 
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #f1b631;
    transition: background-color .3s ease-in-out; */ 
}
.item1{
    position:relative;
    left:10vw;
    padding-bottom: 2rem;
    font-weight: 600;
}
.container1{
    position:absolute;
    right:0px;
    width: 35vw;
    top:30vh;
line-height:4;
letter-spacing:2px;
margin-right:7rem;
}
.highlight{
    color:rgb(219, 219, 38);
}


/* -----Tablet ---- */

@media  screen and (max-width:768px) {
    .container1{
        position:relative;
        float:right;
        left:30rem;
        line-height:2;
        width:50vw;
        top:-180vh;
    }
    .desc{
        width:100%;
        padding-right:3rem;
    }
    #aboutMe{
        position:relative;
        top:15vh;
    }
    .item1{
        padding:2rem;
    }
    .contactSection{
        width:100%;
        min-width:71rem;
    }
    .navbar{
        min-width:70rem;
    }
   
}

/* ------Mobile------ */

@media screen and (max-width:480px){
    .container1{
        top:2vh;
        /* left:40rem;/ */
        margin-right:0;
        min-width:50rem;
        padding-top:50px;
        padding-bottom: 50px;
    }
    .container{
        min-width:45rem;
    }
    .desc{
        width:150%;
    }
    .container1 .item2{
        padding-bottom:50px;
    }
    .container1 button{
        height:4rem;
        width:11rem;
        font-size:22px;
    }
}